body {
    background-color: #393939;
    color: #fff;
}
h1 {
    margin-top: 1rem;
    color: #c7af2a;
}
h2 {
    margin-top: 2rem;
}
.header {
    background-color: #fff;
}
.outdoor-resto {
    margin-left: 10px;
    margin-right: 10px;
}
.outdoor-info {
    margin-top: 1rem;
}



  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings 
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  */
 
  /* Containers */
  
 
  
  /* Sections */

  
  .white-section {
    background-color: #fff;
  }
  
  /* Navigation Bar 
  
  .navbar {
    margin:0px auto;
    padding: 0 0 4.5rem;
    
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  */
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color:#2c3e50;
    color: #fff;
    text-align: left;
  
  }

  #intro{
    background-color:#95a5a6;
    color: #fff;
    text-align: center;
    padding : 3% 5% 1% 5%;


  }

  #culture,#unique{
    text-align: left;
    margin: 5% 0% 5% 2%;
 

  }
  
#subtitle{
    color:#f39c12;
}

.yourstay{
    border-top-color:#bdc3c7;
    border-top-style: dotted;
    padding-top: 3%;

}

.card{
    height:48rem;
}


.boss{
    padding: 3% 2%;
    margin: 3% 2%;;
    border-style:dashed;
    border-color:#f39c12;
}

.map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

.feature-column {
    padding: 3% 2%;
  }

  @media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }