
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

body{
	font-family: 'Gelasio', serif;
	color:#d3f2ea;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gelasio', serif;
	color:#e2f99a;
}
.container{
	background-color: #000;

}
