@font-face {
    font-family: "OPTICubaLibreTwo";
    src: url("fonts/OPTICubaLibreTwo.otf");
}

body {
    background-color: #393939;
    color: #fff;
}

h1 {
    margin-top: 1rem;
    color: #c7af2a;
    font-family: "OPTICubaLibreTwo", "serif";
}

h2 {
    margin-top: 2rem;
}

.header {
    background-color: #fff;
}

.outdoor-resto {
    margin-left: 10px;
    margin-right: 10px;
}

.outdoor-info {
    margin-top: 1rem;
}

h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
}


/* Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    background-color: #2c3e50;
    color: #fff;
    text-align: left;
}

#intro {
    background-color: #95a5a6;
    color: #fff;
    text-align: center;
    padding: 3% 5% 1% 5%;
}

#culture, #unique {
    text-align: left;
    margin: 5% 0% 5% 2%;
}

#subtitle1, #subtitle2, #subtitle3, #subtitle4, #subtitle5, #subtitle6, #subtitle7 {
    color: #f39c12;
}

.yourstay {
    border-top-color: #bdc3c7;
    border-top-style: dotted;
    padding-top: 3%;
}

.card {
    height: 48rem;
}


.boss {
    padding: 3% 2%;
    margin: 3% 2%;
    ;
    border-style: dashed;
    border-color: #f39c12;
}

#googleMap {
    width: 100%; /* The width is the width of the web page */
}

.feature-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}


.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

    .contact-form .form-control {
        border-radius: 1rem;
    }

.contact-image {
    text-align: center;
}

.contact-image img {
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

    .contact-form form .row {
        margin-bottom: -7%;
    }

.contact-form h3 {
    margin-bottom: 7%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
