header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}



header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

h1{
    border:solid #fff;
    background: rgba(255,255,255,0.5);
    text-align:center;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('video/hotel.jpg') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}